body {
    display: flex;
    justify-content: center;
    background-color: linear-gradient(100deg, #fff, #23022e);
}

table {
    width: 100%;
    text-align: center;
    position: relative;
}

.title {
    background-color: #23022e;
    color: white;
    font-size: 3rem;
    text-transform: uppercase;
    padding: 1rem;
}

.child th {
    background-color: #e9ecef;
    color: #212529;
    font-weight: 600;
    padding: 0.8rem;
    border-bottom: 2px solid #dee2e6;
    
}

tbody td {
    padding: 1rem;
    border: 1px solid #dee2e6;
    transition: all 0.3s ;
    cursor: pointer;
    text-align: end;
    vertical-align: top;
}

tbody .active:hover {
    background-color: #280235;
    color: #fff;
}

tbody .calandar-active:hover{
    background-color: #280235;
    color: white;
}

.formul label{
    display: flex;
    margin: 1em;
}

.formul input , .formul select{
    margin: 0.5em;
    width: 80%;  
}


.formul button{
    color: #fff;
    background-color: #23022e;
    border-radius: 20px ;
    padding-left: 20px ;
    padding-right: 20px;
    margin: 1em;
    justify-self: center;
}

.formul{
    border: 1px solid ;
    border-radius: 20px;
    position: absolute;
    background-color: white;
    top: 10%;
    left: 35%;
    display: none;
    z-index: 10;
}

.formul h1{
    margin-left: 3em;
    color: #280235;
}

.calandar-active{
    padding: 0;
}

.temps_AM{
    display: block;
    margin-top: 15em;
    margin-left: 2em;
}

.reserver{
    max-block-size: 2em;
    max-width: fit-content;
    margin: 0;
}

.annule{
    cursor: pointer;
    color: #23022e;
}


/*Responsive*/

@media screen and (max-width: 768px) {
      table {
        font-size: 0.6rem;
        overflow-x: auto;
        display: block;
      }

      .formul {
        left: 6%;
        top: 6%;
      }
    }