body {
    display: flex;
    justify-content: center;
    background-color: linear-gradient(100deg, #fff, #23022e);
}

table {
    width: 100%;
    text-align: center;
    border-radius: 5%;
    position: relative;
}

.title {
    background-color: #23022e;
    color: white;
    font-size: 3rem;
    text-transform: uppercase;
    padding: 1rem;
}


.child th {
    background-color: #e9ecef;
    color: #212529;
    font-weight: 600;
    padding: 0.8rem;
    border-bottom: 2px solid #dee2e6;
    
}




tbody td {
    padding: 1.2rem;
    border: 1px solid #dee2e6;
    transition: all 0.3s ;
    cursor: pointer;
}


tbody td:hover {
    background-color: #280235;
    color: #fff;
}

.formul label{
    display: flex;
    margin: 1em;
}

.formul input {
    margin: 0.5em;
    width: 80%;  
}


.formul button{
    color: #fff;
    background-color: #23022e;
    border-radius: 20px ;
    padding-left: 20px ;
    padding-right: 20px;
    margin: 1em;
}

.formul{
    border: 1px solid ;
    border-radius: 20px;
    position: absolute;
    background-color: white;
    top: 20%;
    left: 35%;
    display: none;
}



